<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name ="CommandsSettings" type="MPKNetworkManager.Configuration.CommandsSection, MPKNetworkManager"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <CommandsSettings>
    <Commands>
      <Command value="ipconfig /release"></Command>
      <Command value="ipconfig /renew"></Command>
      <Command value ="ipconfig /flushdns"></Command>
    </Commands>
  </CommandsSettings>
</configuration>
